@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DM Sans";
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
}

body {
  font-family: "DM Sans", sans-serif !important;
  overflow-x: hidden;
}

::placeholder {
  font-size: 24px;
  line-height: 31.25px;
  font-weight: 400px;
  font-family: "DM Sans", sans-serif;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-row: auto;
  grid-template-areas:
    "header header header header"
    "leftside main main main"
    "leftside main main main "
    "leftside main main main";
}

.header{
  grid-area: header;

}

.leftside{
  grid-area: leftside;
}

.main{
  grid-area: main;
}
