@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DM Sans";
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
}

body {
  font-family: "DM Sans", sans-serif !important;
  overflow-x: hidden;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-row: auto 1fr 1fr auto;
  grid-template-areas:
    "header header header header"
    "leftside main main main"
    "leftside main main main "
    "leftside footer footer footer";
}

header {
  grid-area: header;
  position: sticky;
  top: 0;
}

aside {
  grid-area: leftside;
  position: sticky;
  align-self: start;
  top: 64.8px;
  z-index: 20;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
  align-self: self-end;
  justify-self: end;
}

@media (max-width: 700px) {
  .grid-layout {
    grid-template-columns: 1fr;
    grid-row: auto 1fr 1fr auto auto;
    grid-template-areas:
      "header header header header "
      "main main main main"
      "main main main main"
      "leftside leftside leftside leftside"
      "footer footer footer footer";
  }

  aside {
    
    bottom: 0;
    position: sticky;
    background-color: #fff;
  }
}
